* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#brackground {
  margin-block: 2rem;
  display: flex;

  justify-content: center;
  align-items: center;
}
#new-menu {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(9px);
}
#hamburguer-button {
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
}
.titulos-principales {
  position: absolute;

  z-index: 0;
  height: 15vh;
  width: 100vw;
  color: rgb(17, 102, 177);
  background-color: yellow;
}
.div-titles {
  height: 25vh;
  width: 100vw;

  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
